{% extends "layout.html" %}

{% block title %}
tweet_list | Page
{% endblock  %}


{% block content %}
 
    <h1 class="text-center mt-4">
        Welcome to Tweeter's Mini Tweet
    </h1>
    <div class="container">
        <a href="{% url "tweet_create" %}" class="btn btn-primary mb-4">Create a Tweet</a>
        <div class="row">
            
            {% for tweet in tweets  %}
            <div class="col-md-4 py-5">
                <div class="card">
                   <img src="{{tweet.image.url}}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{tweet.user.username}}</h5>
                        <p class="card-text">
                        {{tweet.text}}
                        </p>
                        <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>






{% endblock  %}